PANEL ADMINA

\#{render 'form2'}
- if @products.blank?
  %p Nie mamy zadnych zapisanych przedmiotow
- else
  %p W systemie sa zapisane nastepujace przedmioty
  = will_paginate @products
  %ul#products
    - @products.each do |c|
      %li
        = link_to c.name, {:action => "show", :id => c.id}
        %b
          = link_to "Edytuj",  {:action => "edit", :id => c.id}
        %b
          = link_to "Usun", {:action => "destroy", :id => c.id},                     |
            :confirm => "Czy na pewno chcesz usunac te pozycje?", :method => :delete |
= will_paginate @products
%p= link_to "Dodaj nowa kategorie", {:action => 'new', :controller => 'categories'}
%p= link_to "Powrot", products_path
