<h1><%= @product.name %></h1>
<p><strong>Cena: </strong><%= @product.price %> zl<br />
<strong>Kategoria:</strong> <%= @product.category.name %><br />
</p>
<p><%= @product.description %></p>
<hr />
<%= link_to '(Klik, klik) Powrot', products_path %>